<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />
<title th:text="#{home.title}">Wendy And Taky ! vvvv 어드민 vvvv </title>

<style type="text/css">
	.date-editor {
		overflow: scroll;
		width: 700px;
		height: 700px;
	}
	
	.title-thumbnail {
		width: 300px;
		height: 200px;
	}
</style>

</head>
<body>
<form id="upload_date" method="post" enctype="multipart/form-data">
	<!-- 로그인 유저 레벨에 따라 다르게 보여야하ㅓㄴ다!! URL 직접 접근도 마찬가지! -->
	<table>
		<tbody>
			<tr>
				<td>지역</td>
				<td>
					<div id="region_list">
						<ul>
							<li th:each="region : ${regions}" th:text="${region.getName()}">서울/종로</li>
						</ul>
						<input type="hidden" name="region" />
					</div>
				</td>
			</tr>
			<tr>
				<td>제목</td>
				<td><input type="text" name="title" placeholder="제목을 입력하세요" /></td>
			</tr>
			<tr>
				<td>제목 이미지</td>
				<td><input type="file" id="thumbnail" name="thumbnail" placeholder="이미지 파일을 올려주세요" /></td>
			</tr>
			<tr>
				<td>제목 이미지 미리보기</td>
				<td><img id="preview_thumbnail" class="title-thumbnail" /></td>
			</tr>
			<tr>
				<td>내용</td>
				<td>
					<input type="file" id="content_image" />
					<div id="editor" class="date-editor" contenteditable="true">
					
					</div>
					<input type="hidden" name="body" />
				</td>
			</tr>
		</tbody>
	</table>
</form>
<a href="/upload/date-course" id="submit">제출</a>

<script src="/js/jQuery/jquery-3.1.1.js"></script>
<script src="/js/utils/file.js"></script>
<script type="text/javascript">
/*<![CDATA[*/
	$(document).ready(function() {
		initForm();
		initEvent();
	});
	
	function initForm() {
		$("#region_list li:first").attr("class", "region_selected");
	}
	
	function initEvent() {
		var oFile = new wat.File();

        /*
		$("#content_image").on("change", {
			"file" : $("#content_image"),
			"content" : $("#editor")
		}, oFile.appendContentFile);
        */

        $("#content_image").on("change", uploadContentImage);

		$("#thumbnail").on("change", {
			"file" : $("#thumbnail"),
			"preview" : $("#preview_thumbnail")
		}, oFile.previewImage);
				
		$("#submit").on("click", function(event) {
			event.preventDefault();
			
			var region = $(".region_selected").text();
			$("input[name='region']").val(region);
			
			var body = $("#editor").html(); 
			$("input[name='body']").val(body);
			
			// TODO xss filter와 content데이터가 올라가는지?확인
			$("#upload_date").submit();
		});
	}

	function uploadContentImage() {
		var formData = new FormData();
		formData.append("image", $("#content_image")[0].files[0]);
		formData.append("region", $("#region_list .region_selected").text());
		
		$.ajax({
			"url" : "/upload/date-course/content-image",
			"method" : "post",
			"data" : formData,
            "dataType" : "html",
            "processData" : false,
            "contentType" : false // multipart/form-data와 ajax를 쓰면 processData, contentType을 false로 해야함, 아직 이유 모름
		}).done(function(data) {
			$("#editor").append(data);
		}).fail(function(error) {
            console.log(error);
			alert("실패");
		});
	}
/*]]>*/
</script>
</body>
</html>